.input-sub,.input-add{
  min-width: 40px;
  height: 100%;
  border: 0;
  color: #605F5F;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  background: #f0f0f0;
}
.item-quantity .select-self-area{
  background:none;
  border: 1px solid #f0f0f0;
}
.item-quantity .select-self-area .select-ipt{
  display: inline-block;
  padding:0 3px;
  width: 30px;
  min-width: 30px;
  text-align: center;
}
